# ===== TELEGRAM BOT =====
BOT_TOKEN=8387674359:AAGgY4KFdjyfnPYqiSI4YteYaaosacEEviQ

# ===== MONGODB =====
MONGO_URL=mongodb+srv://cointrx033:anubHAZ033%40%23@cluster0.mqqlfqz.mongodb.net/?appName=Cluster0

# ===== SERVER =====
PORT=3000

# ===== SECURITY =====
WEBHOOK_SECRET=782002

# ===== TIMEZONE =====
TIMEZONE=Asia/Kolkata

# ===== ADMIN IDs (comma separated) =====
ADMIN_IDS=123456789,987654321,555555555
